@page
@model IndexModel
@{
    ViewData["Title"] = "MultiSweeper";
}
    <div class="game-screen">
        <div class="app">
            <div class="menu">
                <div class="counter" id="counter">

                </div>
                <div class="indicator" id="indicator">
                    X
                </div>
                <div class="timer" id="timer">
                    0
                </div>
            </div>
            <div class="game" id="game">
                <!-- 30 rows --> <!-- 30 boxes in a row -->

            </div>
        </div>
        <div id="player-list">
        </div>
    </div>